.home-container {
    background-image: url(../../../imges/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 87vh;
    min-height: 500px;
}